/* CSS Document main */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,600i,700');
html{
	font-size: 62.5%;
}
body,html{
	height: 100%;
	font-family: 'Montserrat', sans-serif;
}
body{
	width: 100%;
	position: relative;
	font-size: 1.4rem;
	line-height: 2.0rem;
}

.contenitore{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content:center;	
	flex-direction: column;
	
	
}
.txtcenter{text-align: center;}
#home {
	background-image:url(img/bg-1-seconda-prova.jpg);
	background-position: center center;
	background-size: cover;
}
#home h1{
	font-size: 3.8rem;
}
.formhome{
 
margin:60px 0px 40px 0px;
}
.formhome label {}
#home a {color:#BB1A00; font-weight:600; border-bottom: 1px solid #BB1A00;
}
.formhome #nome , #password {
	
	border:none;
	background: none;
	border:1.5px solid #FF8831;
	border-radius:3px;
	margin-bottom: 40px;
	height: 25px;
	width: 100%;
	
	}
.formhome p{
	margin-bottom: 5px;
	color:#BB1A00; font-size: 2.1rem; font-weight: 600; 
}
.formhome input[type=submit]{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5rem;
	font-weight: 600;
	width:60%;
	height: 40px;
	color: white;
	border: 2px solid  #BB1A00;
    border-radius: 10px;
text-transform: uppercase;
	background-color: #BB1A00;
	transition: all .3s ease-in-out;
}
.formhome input[type=submit]:hover{
	background-color: white;
	color: #BB1A00;
	border: 2px solid  white;
	border-radius: 4px solid white;
}

#torneo .torneo{
	width: 98%;
	height: 110px;
	background-color:#FF8831;
	border-radius: 15px 50px;
	margin: 10% 1% ;
	
}

.torneo h2{ color: white; font-size: 2.8rem;  font-weight: 600; line-height: 2.8rem;
text-transform: uppercase;}
.torneo i{ color: white; font-size: 2.8rem; margin-bottom: 10px; padding: 5% 0% 0% 0%; }


#torneo{
	
	
	background-position: center center;
	background-size: cover;
}
#profilo  {color: white;  font-size: 2.0rem; margin-top: -20px;}
#creazione {
	background-image: url(img/bg-3-seconda-prova.jpg);
	background-position: center center;
	background-size: cover;
	
}
.formcreazione {
	margin: 50% 10%;
}
.formcreazione #nome , #luogo , #data , #modalita{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.8rem; 
	border:none;
	 color:#FF8831;
	background: none;
	border:1.5px solid #FF8831;
	border-radius:3px;
	
	margin-bottom: 20px;
	width: 100%;
	padding-left: 5px;
}

.formcreazione label{font-size:2.0rem; color:#BB1A00; font-weight: 600; line-height: 2.8rem; }
#buttonTorneo {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.8rem;
	font-weight: 600;
	width:60%;
	height: 40px;
	color: white;
	border: 2px solid  #BB1A00;
    border-radius: 10px;
text-transform: uppercase;
	margin-top:20px;
	background-color: #BB1A00;
	transition: all .3s ease-in-out;
	
}
#buttonTorneo:hover {
	background-color:#FF8831;
	color: white;
	border: 2px solid  #FF8831;
	border-radius: 4px solid #FF8831;
	
}
#buttornTorneo i{
	font-size: 2.8rem;
}

#torneidisp {
	background-image: url(img/bg-4-seconda-prova.jpg);
	background-position: center center;
	background-size: cover;
	
}
#torneidisp h1{
text-transform: uppercase;
		color: #BB1A00; margin: 0 auto;
	font-weight: 600;
	font-size: 2.5rem;
	line-height: 2.0rem;
	margin-bottom: 5px;
}
#torneidisp a{
	
		color: #BB1A00;
	
	font-size: 1.8rem;
	
}
#torneidisp .torneo{
	width: 80%;
	height: 15%;
	
	margin: 5%;
}

#torneidisp .crea{background-color:#ff8831; color:white; font-weight: 500;
font-size: 1.8rem; border-radius:15px;  }
#torneidisp .crea p{}
#torneidisp .crea i {
	font-size: 2.0rem;
}
#torneidisp .crea:nth-child(even) {background-color:#BB1A00;}
#torneipersonali {
	background-image: url(img/bg-5-seconda-prova.jpg);
	background-position: center center;
	background-size: cover;
	
}
#torneipersonali h1{
	text-transform: uppercase;
		color: #BB1A00; margin: 0 auto;
	font-weight: 600;
	font-size: 2.5rem;
	line-height: 2.0rem;
	
	
}

#torneipersonali h2 {color: #BB1A00;
	font-weight: 600;
	font-size: 2.4rem;
	line-height: 2.8rem;
	}
#torneipersonali .torneiper {
	margin: 10% 0% 10% 0%;
}
.torneiper h3 {font-size: 1.8em; line-height: 2.5rem;}
.torneiper p {font-size: 1.6em; line-height: 2.5rem;}